@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    /* Primary Colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral Colors */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magent:  hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
}

.container {
    width: min(100% - 2rem, 375px);
    transition: 350ms ease-in-out;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid green;
}

.hero, .card {
    border: 1px solid red;
    text-align: center;
    padding: 2rem .1rem;
}

.hero__text {
    font-size: 1.55rem;
    color: var(--very-dark-magenta);
    font-weight: 700;
    padding: 2.8rem 1.5rem;
}

.hero__description {
    font-size: 1.15rem;
    margin: 1rem 0;
    line-height: 1.3rem;
}